* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
header,
footer,
nav,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
}
input,
button,
textarea {
  font-family: inherit;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
p {
  width: auto;
  overflow-wrap: break-word;
}

.header {
  width: 100%;
  background-color: #ff5;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: #757c7c;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin-right: 70px;
}

.header__logo:hover {
  filter: invert(100%) brightness(100%) contrast(100%);
  transition: all 0.6s ease;
}

.menu__list {
  display: flex;   
}

.menu__link {
  padding: 43px 20px;
  text-transform: uppercase;
}

.menu__link:hover {
  background-color: #131313;
  color: #fff;
  transition: all 0.6s ease;
}

.bike {
  border: 0;
  background-color: #00ffff;
  padding: 100px 0 150px;
}

.bike__inner {
  display: flex;
}

.bike__left_title {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
}

.bike__left_subtitle {
  margin-bottom: 60px;
  font-size: 32px;
  line-height: 39px;
  color: #6f6f6f;
}

.bike__left_text {
  width: 420px;
}

.bike__left_text:nth-of-type(1) {
  margin-bottom: 20px;
}

.bike__left_text:nth-of-type(2) {
  margin-bottom: 80px;
}

a.bike__left_order {
  padding: 28px 81px;
  font-size: 20px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  color: #fff;
  background: #131313;
}

a.bike__left_order:hover {
  background: #ff4040;
  transition: all 0.6s ease;
}



